---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> nemoのブログ</h1>
			<p>
			なんとなくで取得したドメインを有効活用するべく、ブログをはじめようかと思い立ち、前々から興味のあったcloudflare pagesとastroを
			使ってみようとしたのはいいものの、HTML,CSSやらなんもわからないうえに配布されているテンプレートがなぜか使えなかったため、公式によって作成された
			最もシンプルなテンプレートを採用した。後々後悔したらその時の自分が頑張ることであろう。  
			上記のような経緯で作成したブログのため書くことが本当に思いつかないので適当なことを書く予定である。内容の正確性やらには全く責任を負うつもりはないのであしからず

			</p>
			
		</main>
		<Footer />
	</body>
</html>
